<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYKTsecQCWFxwoi7Jv6z6M3JbwmOtfEC4</string>
	<key>GCM_SENDER_ID</key>
	<string>973798422080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project01RizTodolist</string>
	<key>PROJECT_ID</key>
	<string>riz-todolist</string>
	<key>STORAGE_BUCKET</key>
	<string>riz-todolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973798422080:ios:a10a3cc874474a4d9251a5</string>
	<key>DATABASE_URL</key>
	<string>https://riz-todolist-default-rtdb.firebaseio.com</string>
</dict>
</plist>